@inject NavigationManager NavigationService
@inject IHttpClientFactory HttpService
@inject IHttpContextAccessor AccessorService
@inject IJSRuntime JavascriptService
@inject ILocalStorageService StorageService
@inject IMapper MapperService

@page "/trip/{TripId}/{StopId}"
@page "/trip/{TripId}/{StopId}/{Longitude:double}/{Latitude:double}"
@page "/trip/{TripId}/{StopId}/{Longitude:double}/{Latitude:double}/{Zoom:double}"

<PageTitle>@Title</PageTitle>

<div id="trip">

    <!-- #region telerik-map -->

    <div id="trip-telerik-map"
         data-testid="telerik-map">

        <TelerikMap Center="@Center"
                    Height="100%"
                    MaxZoom="@TelerikMapDefaults.MaxZoom"
                    MinZoom="@TelerikMapDefaults.MinZoom"
                    OnMarkerClick="@OnMapMarkerClickAsync"
                    OnPanEnd="@OnMapPanEndAsync"
                    OnZoomEnd="@OnMapZoomEndAsync"
                    Width="100%"
                    Zoom="@Zoom"
                    @ref="@MapManager">

            <MapControls>
                <MapControlsAttribution Position="MapControlsPosition.BottomRight"/>
                <MapControlsNavigator Enabled="false"/>
                <MapControlsZoom Enabled="false"/>
            </MapControls>

            <MapLayers>
                <MapLayer Type="@MapLayersType.Tile"
                          Attribution="@TelerikMapDefaults.Attribution"
                          Subdomains="@TelerikMapDefaults.Subdomains"
                          UrlTemplate="@TelerikMapDefaults.UrlTemplate"/>

                <MapLayer Type="@MapLayersType.Marker"
                          Data="@MapData"
                          LocationField="@nameof(TelerikStop.Location)">

                    <MapLayerMarkerSettings Template="<span class='k-map-marker' data-testid='marker'>#= dataItem.Platform #</span>">
                        <MapLayerMarkerSettingsTooltip>
                            <Template>

                                @{
                                    var stop = context.DataItem as TelerikStop ?? new TelerikStop();
                                }

                                <div id="trip-telerik-map__tooltip"
                                     data-testid="tooltip">

                                    <div class="name"
                                         data-testid="name">

                                        @{
                                            var name = stop.Name?
                                                .Split(separator: '-')
                                                .FirstOrDefault()?
                                                .Trim();

                                            name = name?
                                                .Split(separator: '/')
                                                .FirstOrDefault()?
                                                .Trim();
                                        }

                                        @name
                                    </div>

                                    <div class="services">
                                        <ul>
                                            @{
                                                var points = stop.Points?
                                                    .Take(count: 3)
                                                    .Select(selector: point => point)
                                                    .ToList() ?? [];

                                                foreach (var item in points)
                                                {
                                                    var departureTime = item.DepartureDateTime?.ToString(
                                                        format: "HH:mm",
                                                        provider: CultureInfo.InvariantCulture);

                                                    switch (item.RouteName)
                                                    {
                                                        case "BLUE":
                                                            <li class="blue">@departureTime @item.DestinationName</li>
                                                            break;
                                                        case "PURP":
                                                            <li class="purp">@departureTime @item.DestinationName</li>
                                                            break;
                                                        case "TT":
                                                            <li class="tt">@departureTime @item.DestinationName</li>
                                                            break;
                                                        case "YELL":
                                                            <li class="yell">@departureTime @item.DestinationName</li>
                                                            break;
                                                        default:
                                                            <li class="default">@departureTime @item.DestinationName</li>
                                                            break;
                                                    }
                                                }
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </Template>
                        </MapLayerMarkerSettingsTooltip>
                    </MapLayerMarkerSettings>
                </MapLayer>
            </MapLayers>
        </TelerikMap>
    </div>

    <!-- #endregion -->

    <!-- #region telerik-list-view -->

    <div id="trip-telerik-list-view"
         data-testid="telerik-list-view"
         tabindex="-1"
         @ref="@ListElement">

        <TelerikListView EnableLoaderContainer="@TelerikListViewDefaults.EnableLoaderContainer"
                         Height="100%"
                         OnRead="@OnListReadAsync"
                         Width="100%"
                         TItem="@TelerikStopPoint"
                         @ref="@ListManager">

            <Template>
                <div id="trip-telerik-list-view__result"
                     data-testid="result"
                     @onclick="@(_ => OnListChangeAsync(stopId: context.StopId))">

                    <div class="name"
                         data-testid="name">

                        @{
                            var name = context.StopName?
                                .Split(separator: '-')
                                .FirstOrDefault()?
                                .Trim();

                            name = name?
                                .Split(separator: '/')
                                .FirstOrDefault()?
                                .Trim();
                        }

                        @name
                    </div>

                    <div class="direction">
                        @{
                            var direction = context.StopDirection?
                                .Split(separator: '-')
                                .FirstOrDefault()?
                                .Trim();

                            direction = direction?
                                .Split(separator: '/')
                                .FirstOrDefault()?
                                .Trim();
                        }

                        Direction: @direction
                    </div>

                    <div class="services">
                        <ul>
                            @{
                                var departureTime = context.DepartureDateTime?.ToString(
                                    format: "HH:mm",
                                    provider: CultureInfo.InvariantCulture);

                                switch (context.RouteName)
                                {
                                    case "BLUE":
                                        <li class="blue">@departureTime</li>
                                        break;
                                    case "PURP":
                                        <li class="purp">@departureTime</li>
                                        break;
                                    case "TT":
                                        <li class="tt">@departureTime</li>
                                        break;
                                    case "YELL":
                                        <li class="yell">@departureTime</li>
                                        break;
                                    default:
                                        <li class="default">@departureTime</li>
                                        break;
                                }
                            }
                        </ul>
                    </div>
                </div>
            </Template>
        </TelerikListView>
    </div>

    <!-- #endregion -->

    <!-- #region telerik-auto-complete -->

    <div id="trip-telerik-auto-complete"
         data-testid="telerik-auto-complete">

        <TelerikAutoComplete @bind-value="@Query"
                             DebounceDelay="@TelerikAutoCompleteDefaults.DebounceDelay"
                             Filterable="true"
                             MinLength="@TelerikAutoCompleteDefaults.MinCacheLength"
                             OnBlur="@OnSearchBlurAsync"
                             OnChange="@OnSearchChangeAsync"
                             OnClose="@OnSearchCloseAsync"
                             OnOpen="@OnSearchOpenAsync"
                             OnRead="@OnSearchReadAsync"
                             Placeholder="@TelerikAutoCompleteDefaults.Placeholder"
                             ValueField="@nameof(TelerikStop.Id)"
                             TItem="@TelerikStop">

            <ItemTemplate>
                <div id="trip-telerik-auto-complete__result"
                     data-testid="result">

                    <div class="name"
                         data-testid="name">

                        @{
                            var name = context.Name?
                                .Split(separator: '-')
                                .FirstOrDefault()?
                                .Trim();

                            name = name?
                                .Split(separator: '/')
                                .FirstOrDefault()?
                                .Trim();
                        }

                        @name
                    </div>

                    <div class="direction">
                        @{
                            var direction = context.Direction?
                                .Split(separator: '-')
                                .FirstOrDefault()?
                                .Trim();

                            direction = direction?
                                .Split(separator: '/')
                                .FirstOrDefault()?
                                .Trim();
                        }

                        Direction: @direction
                    </div>

                    <div class="services">
                        <ul>
                            @{
                                var points = context.Points?
                                    .Take(count: 3)
                                    .Select(selector: point => point)
                                    .ToList() ?? [];

                                foreach (var item in points)
                                {
                                    var departureTime = item.DepartureDateTime?.ToString(
                                        format: "HH:mm",
                                        provider: CultureInfo.InvariantCulture);

                                    switch (item.RouteName)
                                    {
                                        case "BLUE":
                                            <li class="blue" title="@item.DestinationName">@departureTime</li>
                                            break;
                                        case "PURP":
                                            <li class="purp" title="@item.DestinationName">@departureTime</li>
                                            break;
                                        case "TT":
                                            <li class="tt" title="@item.DestinationName">@departureTime</li>
                                            break;
                                        case "YELL":
                                            <li class="yell" title="@item.DestinationName">@departureTime</li>
                                            break;
                                        default:
                                            <li class="default" title="@item.DestinationName">@departureTime</li>
                                            break;
                                    }
                                }
                            }
                        </ul>
                    </div>
                </div>
            </ItemTemplate>

            <NoDataTemplate>
                <div id="trip-telerik-auto-complete__unknown">
                    <div class="error">No Stops Found</div>
                    <div class="message">Update Search Query and/or Filter</div>
                </div>
            </NoDataTemplate>
        </TelerikAutoComplete>
    </div>

    <!-- #endregion -->

    <!-- #region local-storage-consent -->

    <LocalStorageConsent Longitude="Center.ElementAt(index: 1)"
                         Latitude="Center.ElementAt(index: 0)"
                         Zoom="Zoom"/>

    <!-- #endregion -->

    <!-- #region source-code-repository -->

    <SourceCodeRepository Url="https://github.com/philvessey/TramTimes.SouthYorkshire"/>

    <!-- #endregion -->

</div>